# Ignore environment variables
env.yaml
env.test.yaml
env.prod.yaml
env.dev.yaml

# Ignore tmp/ directory for downloading .ics files
tmp/

# Ignore binary build
bin/

# Ignore developer-specific settings
.vscode

# Ignore server-specific notes
notes.txt